# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Scala
- Ruby
- C++

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Scikit-learn

| Data Science Tools |
| ------------------ |
| Visual Studio Code |
| RStudio |
| Jupiter Notebook |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers #
(3*4)+5

17

In [7]:
# This will convert 200 minutes to hours by diving by 60 #
s = (200)/60
print(s)

3.3333333333333335

## Author
Sai Vaikant Reddy